body{
  background-image: url('bg.jpg');
}


#donate-button-container{
right: 5px;
bottom: 15px;
margin: auto 10px;
  filter: opacity(0.5);
  position: fixed;
}

.stroke{
  text-shadow: -1px -1px 0 #2a9e63,1px -1px 0 #efc2e4a3,-1px 1px 0 #8938d3,1px 1px 0 #f5bb0e,2px 2px 1px #633505 !important;

  text-align: center;
}
